# Capitulo 2

## Uma coleção de sequências

- Sequências container: `list`, `tuple` e `collections.deque` podem armazenar itens de tipos diferentes e guarda somente a referencia dos objetos que ela contêm.

- Sequências simples: `str`, `bytes`, `bytearray`, `memoryview` e `array.array` armazenam itens de um só tipo e armazena seus itens em seu próprio espaço de memória.

- Sequências mutáveis: `list`, `bytearray`, `array.array`, `collections.deque` e `memoryview`.

- Sequências imutáveis: `tuple`, `str` e `bytes`.

##  List comprehensions e expressões geradoras

### List comprehensions e legibilidade

Qual dos exemplos abaixo é mais difícil de ler:

In [12]:
# 1 - Criar uma lista de códigos Unicode (codepoints) a partir de uma string

symbols = '$¢£¥€¤'
codes = []

for symbol in symbols:
  codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [13]:
# 2 - Cria uma lista de códigos Unicode (codepoints) a partir de uma string
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

### Comparação entre listcomps e map/filter

In [16]:
# A mesma lista criada por uma listecomp e uma composição de map/filter
symbols = '$¢£¥€¤'

beyond_ascii_1 = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii_2 = list(filter(lambda c: c > 127, map(ord, symbols)))

beyond_ascii_1
# beyond_ascii_2

[162, 163, 165, 8364, 164]

### Expressões geradoras

In [18]:
# Inicializando uma tupla e um array a partir de uma expressão geradora
symbols = '$¢£¥€¤'

tuple(ord(symbol) for symbol in symbols)

import array
array.array('I', (ord(symbol) for symbol in symbols))

(36, 162, 163, 165, 8364, 164)

In [19]:
# Produto cartesiano em uma expressão geradora
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
  print(tshirt)

black S
black M
black L
white S
white M
white L

### Desempacotamento de tuplas aninhadas

In [22]:
# Desempacotando tuplas aninhadas para acessar a longitude

metro_areas = [
  ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
  ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
  ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
  ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
  ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))

fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (latitude, longitude) in metro_areas:
  if longitude <= 0:
    print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### Tuplas nomeadas

In [27]:
# Definindo e usando uma tupla nomeada

from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

# tokyo.population
# tokyo.coordinates
# tokyo[1]
City._fields

('name', 'country', 'population', 'coordinates')

In [32]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
# City(*delhi_data)

delhi._asdict()
# for key, value in delhi._asdict().items():
#   print(key + ':', value)

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

### Objetos slice

In [38]:
# Itens de cada linha de um arquivo simples de fatura
invoice = """
0.... 6.................................40..........52.55
1909  Pinoroni PiBrella                 $17.50      3  $52.50
1489  6m Tactile Switch x20              $4.95      2   $9.90
1510  Panavise 3r. - PV-201             $28.00      1  $28.00
1601  PiTFT Mini Kit 320x240            $34.95      1  $34.95
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)

line_itens = invoice. split('\n') [2:]

for item in line_itens:
  print(item[UNIT_PRICE], item[DESCRIPTION])

$17.50       Pinoroni PiBrella
 $4.95       6m Tactile Switch x20
$28.00       Panavise 3r. - PV-201
$34.95       PiTFT Mini Kit 320x240

### 64 - listas de listas